<mat-toolbar class ="top">
  <mat-toolbar-row>
    <h1> TEF9 SHOP MAINTENANCE</h1>&nbsp;&nbsp;&nbsp;
    <span class="example-spacer"></span>
    <a mat-button [routerLink]="['/home']"><i class="material-icons">
      home
    </i></a>
    <a mat-button [routerLink]="['/loginmem']" (click)="push()"> เข้าสู่ระบบ </a>

  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content >
 <br> 
 <table mat-table  [dataSource]="member" class="mat-elevation-z8"> 

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> MOLD_ID  </th>
      <td mat-cell *matCellDef="let element">  {{element.moldID}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>MODEL</th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="nameM">
      <th mat-header-cell *matHeaderCellDef>TOOLS_NO</th>
      <td mat-cell *matCellDef="let element"> {{element.nameM}} </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>PRODUCT</th>
      <td mat-cell *matCellDef="let element"> {{element.product}} </td>
    </ng-container>

    <ng-container matColumnDef="CreditPay">
      <th mat-header-cell *matHeaderCellDef style = "width:40%">EDIT</th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)="DeleteMember(element.meid)">
        Remove</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
  

  </table>
</mat-dialog-content>

