
<div class="show">
  <mat-toolbar class ="top">
  <mat-toolbar-row>
    <h1> TEF9 SHOP MAINTENANCE</h1>&nbsp;&nbsp;&nbsp;
    <span class="example-spacer"></span>
    <a mat-button [routerLink]="['/home-show']"><i class="material-icons">
      home
    </i></a>

  </mat-toolbar-row>
</mat-toolbar>
  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/add-mold']">ADD MOLD</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/delete-mold']">DELETE MOLD</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/add-data']">ADD DATA_TABLE</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/home-show']">HOME SHOW</button>
  </div></h2>

  <h2><div class="example-button-row">
    <button mat-raised-button color="accent" [routerLink]="['/history']">HISTORY TABLE</button>
  </div></h2>
</div>
