<div class = "textinimg">
  <!-- <mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile><img class="c1" src="assets/img/2.png"></mat-grid-tile>
  </mat-grid-list> -->
</div>

<div class="centered"><img class="world" src="assets/img/t3.JPG"></div>
<div class="bottom"><br><br><h1>TEF9 SHOP MAINTENANCE</h1>
  <p>TEAM-01 Opening hours: Mo-Fr 08:00-17:30 <br><br>
    Call (66)1234-5678&nbsp;&nbsp;&nbsp;&nbsp;
    <a target="_blank" href="http://localhost:4200/add-mold">"REGISTER"</a> &nbsp;&nbsp;&nbsp;&nbsp; or
 <a target="_blank" href="http://localhost:4200/login">&nbsp;&nbsp;&nbsp;&nbsp;"LOGIN"</a> </p>

</div>


<mat-grid-tile><img class="img-circle" src="assets/img/banner.jpg"></mat-grid-tile>



