.button button,
.button a {
  margin-left: auto;
}
.buttonLogIn button,
.buttonLogIn a {
  margin-right: auto;
  size: auto;
}
mat-toolbar{
  position: fixed;
  z-index: 2;
}
.grid-tile{
  margin-left: 8%;
  
}
.example-fill-remaining-space {
  flex: 1 1 auto;

}
.example-card  {
  
  max-width: 300;
  max-height: 290;
  
}
.buttonBuy button,
.buttonBuy a{
  right: -50%;
   background-color: #ba7d60;
 }